@import "./modules/nav/nav.scss";
@import "./modules/home/home.scss";
@import "./modules/about/about.scss";
@import "./modules/skills/skills.scss";
@import "./modules/works/works.scss";
@import "./modules/education/education.scss";
@import "./modules/blog/blog.scss";
@import "./modules/contact/contact.scss";
@import "./modules/footer/footer.scss";

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:    smooth;
}

body{
    background-color:	#fff; 
    display:            flex;
    flex-direction:     column;
    align-items:        center;
}

p{
    cursor:             default;
    color:              #425366;
}

.wrapper{
    width:              100%;
    max-width:          1200px;
}

.heading{
    font-size:          22px;
    font-weight:        400;
    font-family:        inherit;
    letter-spacing:     .01em;
    line-height:        43.2px;
    margin:             100px 50px 36px 50px;
    word-wrap:          break-word;
    text-align:         center;
    cursor:		        default;
    color:              grey;
}

@media screen and (min-width: 600px) {
    .heading{
        font-weight:        100;
        font-size:          36px;
    }

    .about{
        min-height:         100vh;
    }

    .skills__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .works__container{
        grid-template-columns: 1fr 1fr;
    }
    
    .works__know_more a, .works__card .works__description p{
        font-size: 0.7rem;
    } 


	.works__card:hover{
	    & > .works__know_more{
		    margin-left:	    22px;
	    }
	}
    
	.blog__post_card:hover{
	    & > .blog__line{
		width:		    50%;
	    }
	}

    .blog__post_container{
        grid-template-columns:   1fr 1fr;
    }
}

@media screen and (min-width: 950px) {
    .skills__container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .blog__post_container, .works__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .blog__post_container{
        grid-template-rows:    1fr;
    }

    .blog{
        min-height:            100vh;
    }
    
}
