.works{
    width:              100%;
    min-height:         100vh;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    font-family:        'Poppins', sans-serif;
    color:              #344854;

    &__container{
        width:              80%;
        margin:             0 30px;
        display:            grid;
        grid-template-columns: 1fr;
        row-gap:            36px;
        column-gap:         29px;
    }

    &__card{
        width:              100%;
        display:            flex;
        flex-direction:     column;
        justify-content:    space-between;
        align-items:        center;
        box-shadow:         rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	    cursor:		        pointer;
    }
    
    &__image{
        width:100%;
        img{
            width:              100%;
            height:             auto;
        }   
    }

    &__title{
        margin:                 22px auto 0 16px;
        
        h1{
            font-size:          16px;
            font-weight:        400;
        }
    }

    &__description{
        margin:             22px 16px 0 16px;

        p{
            font-size:          0.7rem;
        }
    }
    
    &__know_more{
        margin:             16px;
        margin-right:       auto;
        color:              inherit;
	transition:	    0.2s margin-left ease;
        
        a{
            text-decoration:    none;
            font-size:          0.7rem;
            color:              inherit;
        }
    }
}
