footer{
    height:             36px;
    width:              100%;
    display:            flex;
    align-items:        center;
    background-color:   #f0f0f0;
    
    p{
        font-size:          0.7rem;
        font-family:        'Poppins', sans-serif;
        margin-left:        16px;
    }
}
